.layout-house {
    margin-bottom: 140px;

    &__title-wrapper {
        margin-bottom: 35px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 176px;
    }

    &__text {
        font-weight: 400;
        font-size: 30px;
        color: #000;
        margin-bottom: 40px;
    }

    &__list {
        margin-bottom: 40px;

        &_mobile {
            display: none;
        }
    }

    &__list-title {
        font-weight: 700;
        font-size: 23px;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 40px;
    }

    &__list-items {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__list-item {
        display: flex;
        gap: 19px;
        align-items: center;
    }

    &__list-item-img {
        height: 28px;
        width: 28px;
    }

    &__list-item-text {
        font-weight: 400;
        font-size: 27px;
        line-height: 111%;
        letter-spacing: 0.01em;
        color: #000;
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 40px;

        &_mobile {
            display: none;
        }
    }

    &__btn {
        width: 265px;
        padding: 20px 40px;
        background: none;
        border: 1px solid #efa35a;
        transition: 0.3s;
        cursor: pointer;
        background: #efa35a;
        &:hover {
            background: #ec8520;
        }

        &_active {
            background: none;
            &:hover {
                background: #f5dcc2;
            }
        }
    }

    &__btn_active &__btn-title,
    &__btn_active &__btn-size {
        color: #000;
    }

    &__btn-title {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: white;
        margin-bottom: 10px;
    }

    &__btn-size {
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        color: white;
    }

    &__right-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        width: max-content;
        flex-shrink: 0;
    }

    &__img {
        opacity: 0.35;
        transition: 0.3s;
        &_active {
            opacity: 1;
        }
    }
}

@media (max-width: 1680px) {
    .layout-house {
        margin-bottom: 130px;
        &__wrapper {
            gap: 20px;
        }

        &__text {
            font-weight: 400;
            font-size: 27px;
            line-height: 111%;
            letter-spacing: 0.01em;
            color: #000;
        }

        &__list {
            margin-bottom: 110px;
        }

        &__list-title {
            font-weight: 700;
            font-size: 23px;
            text-transform: uppercase;
            color: #000;
            margin-bottom: 20px;
        }

        &__list-items {
            gap: 15px;
        }

        &__list-item {
            gap: 15px;
        }

        &__list-item-img {
            width: 23px;
            height: 23px;
        }

        &__list-item-text {
            font-weight: 400;
            font-size: 24px;
            color: #000;
        }

        &__buttons {
            gap: 13px;
        }

        &__btn {
            width: 220px;
        }

        &__btn-title {
            font-weight: 700;
            font-size: 18px;
        }

        &__btn-size {
            font-weight: 400;
            font-size: 18px;
        }

        &__right-wrapper {
            gap: 0;
        }
    }
}

@media (max-width: 1280px) {
    .layout-house {
        margin-bottom: 80px;

        &__title-wrapper {
            margin-bottom: 40px;
        }

        &__wrapper {
            display: block;
        }

        &__text {
            margin-bottom: 20px;
        }

        &__list {
            margin-bottom: 50px;
        }

        &__list-title {
            font-weight: 700;
            font-size: 23px;
            margin-top: 40px;
        }

        &__list-items {
            gap: 15px;
        }

        &__list-item {
            gap: 15px;
        }

        &__list-item-img {
            width: 23px;
            height: 23px;
        }

        &__list-item-text {
            font-weight: 400;
            font-size: 24px;
        }

        &__buttons {
            display: none;

            &_mobile {
                display: flex;
                justify-content: center;
            }
        }

        &__btn-title {
            font-weight: 700;
            font-size: 18px;
        }

        &__btn-size {
            font-weight: 400;
            font-size: 18px;
        }

        &__right-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: unset;
            margin-bottom: 20px;
        }

        &__img {
            max-width: unset;
            width: 100%;
        }
    }
}

@media (max-width: 834px) {
    .layout-house {
        &__title-wrapper {
            margin-bottom: 20px;
        }

        &__title {
            &_2 {
                display: block;
                padding-left: 90px;
            }
        }

        &__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 156%;
            color: #000;
        }

        &__list {
            margin-bottom: none;
            display: none;

            &_mobile {
                display: block;
            }
        }

        &__list-title {
            font-weight: 500;
            font-size: 16px;
            text-transform: uppercase;
            color: #000;
            margin-bottom: 20px;
        }

        &__list-items {
            gap: 10px;
        }

        &__list-item {
            gap: 10px;
        }

        &__list-item-img {
            width: 17px;
            height: 17px;
        }

        &__list-item-text {
            font-weight: 400;
            font-size: 16px;
            color: #000;
        }

        &__btn {
            width: 145px;
            padding: 7px 24px;
        }

        &__btn-title {
            font-weight: 700;
            font-size: 14px;
            text-align: center;

            margin-bottom: 3px;
        }

        &__btn-size {
            font-weight: 400;
            font-size: 14px;
            text-align: center;
        }

        &__right-wrapper {
            grid-template-columns: 1fr;
        }

        &__img {
            display: none;
            &_active {
                display: block;
                opacity: 1;
            }
        }
    }
}
