.projects-houses {
    margin-bottom: 100px;
    &__wrapper {
    }

    &__title {
        font-weight: 400;
        font-size: 46px;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 60px;
        font-family: 'Geometry', sans-serif;
        &_orange-italic {
            color: #efa35a;
            font-style: italic;
        }
    }

    &__title-mobile {
        display: none;
    }

    &__filters {
        display: flex;
        align-items: center;
        gap: 50px;
        justify-content: center;
        margin-bottom: 60px;
    }

    &__filter-btn {
        padding: 15px 30px;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        color: #000;
        background: #fdfdfd;
        border: 1px solid #e4e4e4;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background: #ec8520;
            color: white;
            border-color: unset;
        }

        &_border {
            display: flex;
            align-items: center;
            gap: 8px;
            background: rgba(239, 163, 90, 0);
            border: 1px solid #000;
        }

        &_fill-orange {
            font-weight: 700;
            font-size: 18px;
            color: #fff;
            border: unset;
            background: #efa35a;
        }
    }

    &__filter-btn:hover &__filter-icon-map path{
        
        stroke: white;
    }

    &__filter-icon-map path{
        transition: 0.3s;
    }

    &__filters-next {
        display: none;
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 11px;
        margin-bottom: 30px;
    }

    &__menu-item {
        font-weight: 400;
        font-size: 30px;
        color: #353535;
    }

    &__menu-circle {
        width: 10px;
        height: 10px;
    }

    &__devider {
        width: 100%;
        height: 1px;
        background: #efa35a;
        margin-bottom: 60px;
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    &__card {
    }

    &__card-img {
        
    }

    &__card-content-wrapper {
        padding: 40px 85px 50px 30px;
        border: 1px solid #efa359;
    }

    &__title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 30px;
    }

    &__card-title {
        font-weight: 500;
        font-size: 30px;
        color: #000;
    }

    &__card-price {
        font-weight: 700;
        font-size: 23px;
        text-transform: uppercase;
        color: #efa35a;
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 46px;
    }

    &__details-item {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__details-item-icon {
        height: 40px;
        width: 40px;
    }

    &__details-text {
        font-weight: 400;
        font-size: 20px;
        color: #000;
    }

    &__card-button {
        display: block;
        padding: 15px 68px;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #000;
        border: 1px solid #efa35a;

        transition: 0.3s;
        &:hover {
            background: #f5dcc2;
        }
    }

    &__popular-cards-wrapper {
        margin: 90px 0;
        position: relative;
    }
    
    &__popular-cards-line {
        position: absolute;
        top: 25px;
        right: 0px;
        height: 1px;
        width: 50%;
        background: #efa35a;
    }

    &__popular-cards-title {
        font-family: 'Geometry', sans-serif;
        font-weight: 500;
        font-size: 46px;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 40px;

        &_orange {
            font-style: italic;
            font-weight: 400;
            color: #efa35a;
        }
    }

    &__popular-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 17px;
    }

    &__popular-card {
    }

    &__popular-card-img {
        width: 100%;
    }

    &__popular-card-content-wrapper {
        padding: 40px;
        border: 1px solid #efa35a;
    }

    &__popular-card-title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__popular-card-title {
        font-weight: 500;
        font-size: 30px;
        color: #000;
    }

    &__populcar-card-price {
        font-weight: 500;
        font-size: 28px;
        text-transform: uppercase;
        color: #efa35a;
    }

    &__populcar-card-button {
        display: inline-block;
        padding: 15px 68px;
        border: 1px solid #efa35a;

        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #000;

        transition: 0.3s;
        &:hover {
            background: #f5dcc2;
        }
    }

    &__pagination {
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: center;
        margin-top: 40px;
    }

    &__pagination-nav-btn {
        padding: 20px 40px;
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid #e4e4e4;
        background: #fdfdfd;
        cursor: pointer;
        font-weight: 400;
        font-size: 24px;
        color: #6e6e6f;

        &_active {
            color: #000;
        }
    }

    &__pagination-page-buttons {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__pagination-page-btn {
        font-weight: 400;
        font-size: 24px;
        color: #000;
        cursor: pointer;
        background: #fdfdfd;
        border: 1px solid #e4e4e4;
        padding: 20px 40px;
        transition: 0.3s;

        &_active {
            border: 1px solid #efa359;
        }
    }
}


@media (max-width: 1680px) {
    .projects-houses {

        &__wrapper {
        }
    
        &__title {
            font-weight: 500;
            font-size: 46px;
            margin-bottom: 30px;
            &_orange-italic {
                font-style: italic;
                font-weight: 400;
                font-size: 46px;
            }
        }
    
        &__filters {
            gap: 30px;
            margin-bottom: 60px;
            padding: 0 128px;
        }
    
        &__filter-btn {
    
            &_border {
            }
    
            &_fill-orange {
            }
        }
    
        &__filter-icon-map {
        }
    
        &__menu {
            gap: 11px;
            margin-bottom: 20px;
        }
    
        &__menu-item {
            font-weight: 400;
            font-size: 30px;
            &_bold {
            }
        }
    
        &__menu-circle {
        }
    
        &__devider {
            margin-bottom: 60px;
        }
    
        &__cards {
            gap: 20px;
        }
    
        &__card {
        }
    
        &__card-img {
        }

        &__card-content-wrapper {
            padding: 20px 8px 30px 30px;
        
        }
    
        &__title-wrapper {
        }
    
        &__card-title {
        }
    
        &__card-price {
        }
    
        &__details {
        }
    
        &__details-item {
        }
    
        &__details-item-icon {
        }
    
        &__details-text {
        }
    
        &__card-button {
        }
    
        &__popular-cards-wrapper {
        }


        &__popular-cards-line {
            width: 40%;
        }

        &__popular-cards-title {
            font-weight: 500;
            font-size: 46px;

            &_orange {
                font-style: italic;
                font-weight: 400;
                font-size: 46px;
            }
        
        }
    
        &__popular-cards {
            gap: 20px;
        }
    
        &__popular-card {
        }
    
        &__popular-card-img {
        }

        &__popular-card-content-wrapper {
            padding: 30px;
        }
    
        &__popular-card-title-wrapper {
        }
    
        &__popular-card-title {
        }
    
        &__populcar-card-price {
        }
    
        &__populcar-card-button {
        }
    
        &__pagination {
        }
    
        &__pagination-nav-btn {
    
            &_active {
            }
        }
    
        &__pagination-page-buttons {
        }
    
        &__pagination-page-btn {
    
            &_active {
            }
    
            &_visible {
            }
        }
    }
}

@media (max-width: 1280px) {
    .projects-houses {

        &__wrapper {
        }
    
        &__title {
            font-weight: 500;
            font-size: 30px;
            margin-bottom: 20px;

            &_orange-italic {
                font-style: italic;
                font-weight: 400;
                font-size: 30px;
            }
        }
    
        &__filters {
            gap: 15px;
            margin-bottom: 30px;
            padding: 0 27px;
        }
    
        &__filter-btn {
            font-weight: 400;
            font-size: 14px;
            padding: 15px 20px;

            &_border {
                padding: 13px 20px;
                font-weight: 400;
                font-size: 14px;
            }
    
            &_fill-orange {
                font-weight: 400;
                font-size: 14px;
                color: #fff;
            }
        }
    
        &__filter-icon-map {
            height: 20px;
            width: 20px;
        }
    
        &__menu {
            gap: 8px;
            margin-bottom: 20px;
        }
    
        &__menu-item {
            font-weight: 400;
            font-size: 24px;
            &_bold {
            }
        }
    
        &__menu-circle {
        }
    
        &__devider {
            margin-bottom: 30px;
        }
    
        &__cards {
            row-gap: 30px;
            column-gap: 10px;
            grid-template-columns: 1fr 1fr;
        }
    
        &__card {
        }
    
        &__card-img {
        }

        &__card-content-wrapper {
            padding: 20px 27px 20px 20px;
        }
    
        &__title-wrapper {
        }
    
        &__card-title {
        }
    
        &__card-price {
        }
    
        &__details {
        }
    
        &__details-item {
            gap: 20px;
        }
    
        &__details-item-icon {
            height: 30px;
            width: 30px;
        }
    
        &__details-text {
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
        }
    
        &__card-button {
            font-weight: 700;
            font-size: 18px;
        }
    
        &__popular-cards-wrapper {
            margin: 80px 0;
        }

        &__popular-cards-title {
            font-weight: 500;
            font-size: 30px;
            margin-bottom: 30px;

            &_orange {
                font-style: italic;
                font-weight: 400;
                font-size: 30px;
            }
        }
    
        &__popular-cards {
            gap: 30px;
            grid-template-columns: 1fr;
        }
    
        &__popular-card {
        }
    
        &__popular-card-img {
        }

        &__popular-card-content-wrapper {
            padding: 30px;
        
        }
    
        &__popular-card-title-wrapper {
        }
    
        &__popular-card-title {
            font-weight: 500;
            font-size: 30px;
        }
    
        &__populcar-card-price {
            font-weight: 500;
            font-size: 28px;
        }
    
        &__populcar-card-button {
            font-weight: 700;
            font-size: 18px;
        }
    
        &__pagination {
            gap: 5px;
        }

        &__pagination-nav-btn {
            font-weight: 400;
            font-size: 18px;
        }

        &__pagination-page-buttons {
            gap: 5px;
        }

        &__pagination-page-btn {
            font-weight: 400;
            font-size: 18px;
        }
    }
}


@media (max-width: 834px) {
    .projects-houses {

        &__wrapper {
        }
    
        &__title {
            display: none;
            &_orange-italic {
            }
        }

        &__title-mobile {
            display: inline-block;
            font-weight: 400;
            font-size: 27px;
            line-height: 111%;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            margin-bottom: 25px;

            &_orange-italic {
                font-weight: 400;
                font-size: 27px;
                line-height: 111%;
                letter-spacing: 0.01em;
                color: #efa35a;
            }
        }
    
        &__filters {
            padding: 0;
            overflow-x: scroll;
            justify-content: flex-start;
            margin-bottom: 0;

            &::-webkit-scrollbar {
                width: 0;
            }
        }
    
        &__filter-btn {
            font-weight: 400;
            font-size: 14px;

            width: 131px;
            flex-shrink: 0;
            padding: 10px 20px;
            text-align: center;
            &_border {
            }
    
            &_fill-orange {
            }
        }
    
        &__filter-icon-map {
        }

        &__filters-next {
            display: flex;
            height: 40px;
            width: 36px;
            align-items: center;
            justify-content: center;
            border: unset;
            background-color: #D9D9D9;
            min-width: max-content;
            flex-shrink: 0;
            
        }

        &__filters-wrapper {
            display: flex;
            align-items: flex-start;
            gap: 8px;
            margin-bottom: 20px;


        }
    
        &__menu {
            gap: 7px;
            margin-bottom: 10px;

        }
    
        &__menu-item {
            font-weight: 400;
            font-size: 16px;
            &_bold {
            }
        }
    
        &__menu-circle {
            width: 7px;
            height: 7px;  
        }
    
        &__devider {
            margin-bottom: 20px;
        }
    
        &__cards {
            gap: 20px;
            grid-template-columns: 1fr;
        }
    
        &__card {
        }
    
        &__card-img {
            width: 100%;
        }

        &__card-content-wrapper {
            padding: 8px 30px 25px 20px;
        
        }
    
        &__title-wrapper {
            flex-wrap: wrap;
            gap: 15px;
        }
    
        &__card-title {
            font-weight: 700;
            font-size: 24px;
        }
    
        &__card-price {
            font-weight: 700;
            font-size: 23px;
        }
    
        &__details {
            gap: 14px;
        }
    
        &__details-item {
            gap: 15px;
        }
    
        &__details-item-icon {
            width: 30px;
            height: 30px;
        }
    
        &__details-text {
            font-weight: 400;
            font-size: 16px;
        }
    
        &__card-button {
            font-weight: 700;
            font-size: 14px;

            padding: 12px 24px;
            width: 100%;
            transition: 0.3s;

        }
    
        &__popular-cards-wrapper {
            margin: 60px 0;
        }

        &__popular-cards-line {
            display: none;
        }

        &__popular-cards-title {
            font-weight: 500;
            font-size: 30px;
            margin-bottom: 20px;
            &_orange {
                font-style: italic;
                font-weight: 500;
                font-size: 30px;


                display: block;
                padding-left: 140px;
            }
        }
    
        &__popular-cards {
            gap: 20px;
        }
    
        &__popular-card {
        }
    
        &__popular-card-img {
        }

        &__popular-card-content-wrapper {
            padding: 20px 29px 20px 20px;
        
        }
    
        &__popular-card-title-wrapper {
            flex-wrap: wrap;
            gap: 15px;
        }
    
        &__popular-card-title {
            font-weight: 500;
            font-size: 30px;
        }
    
        &__populcar-card-price {
            font-weight: 500;
            font-size: 28px;
        }
    
        &__populcar-card-button {
            font-weight: 700;
            font-size: 14px;
            padding: 12px 24px;
            width: 100%;
        }
    
        &__pagination-nav-btn {
            padding: 10px 15px;
            font-weight: 400;
            font-size: 14px;
            gap: 10px;
        }

        &__pagination-page-btn {
            display: none;
            font-weight: 400;
            font-size: 14px;
            padding: 10px 15px;
            &_visible {
                display: block;
            }
        }
    }
}
