.single-project {
    height: 100vh;
    background: url('../images/izumrudniy-village-bg.jpg');
    background-position: 80% center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 130px;
   
    &__content {
        position: absolute;
        bottom: 130px;

        &_iq-club {
            bottom: 60px;
        }
    }

    &__description {
        font-weight: 400;
        font-size: 32px;
        color: #fff;
        margin-bottom: 0px;
    }

    &__title {
        font-weight: 800;
        font-size: 120px;
        color: #efa35a;
        line-height: normal;

        text-shadow: 0px 1px 1px #151710;
        &_white {
            color: #fff;
            text-shadow: none;
        }

        &_iq-club {
            font-size: 150px;
        }
    }
}

@media (max-width: 1680px) {

    .single-project {
        &__content {
            bottom: 100px;

            &_iq-club {
                bottom: 60px;
            }
        }

        &__description {
            font-weight: 400;
            font-size: 24px;
            margin-bottom: 10px;
        }

        &__title {
            font-weight: 800;
            font-size: 90px;

            &_iq-club {
                font-size: 120px;
            }
        }
    }
}

@media (max-width: 1280px) {
    .single-project {
        margin-bottom: 80px;
        
        &__content {
            bottom: 60px;
        }

        &__description {
            font-weight: 400;
            font-size: 24px;
        }

        &__title {
            font-weight: 800;
            font-size: 80px;

            &_iq-club {
                font-size: 120px;
            }
        }
    }
}

@media (max-width: 834px) {
    .single-project {
        &__content {

        }

        &__description {
            font-weight: 400;
            font-size: 16px;
            &_iq-club {
                margin-bottom: 0px;
            }
        }

        &__title {
            font-weight: 700;
            font-size: 40px;

            &_iq-club {
                font-size: 60px;
            }
        }
    }
}